body {
    background: black;
    color: white;
}

#canvas {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.select-wrapper {
    background: white;
}


.draggable {
    position: absolute;
}

.ot_default > div,
.ot_default > img,
.ot_default > video,
.ot_default > audio {
    position: fixed;
    margin: 0;
    padding: 0;
    width: 80vw;
}