.hidden{
    visibility: hidden;
}

.serviceGroup h5{
    color: #004d40 
}

.btn-provisioning{
    width: 80%;
}

.up-to-date-filelist button{
    background-color: yellowgreen;
    color: black
}

.readyToTrigger{
    background-color: green !important;
    color:white
}

.readyToTrigger::after{
    content: "START";
    white-space: pre;
    font-size: 0.6em;
    position: absolute;
    right: 10px;
    color: red;
}
